<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="publisher" href="https://plus.google.com/b/103602236030149683509">
    <link type="text/plain" rel="author" href="/humans.txt">
    <link rel="shortcut icon" href="favicon.ico">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/font-awesome.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/style.css">
</head>

<body>
<div class="container">

<div class="row">
    <div class="col-sm-3">
        <a href="/"><img id="logo" src="{{ theme_url }}/img/logo.png" alt="ATV Parts Connection Logo"></a>
    </div>
    <div class="col-sm-6 text-center">
        <div class="row">
            America's Connection for ATV Parts
        </div>
        <div class="row">
            Monday&ndash;Friday: 8am&ndash;6pm &amp; Saturday: 9am&ndash;3pm EST
        </div>
        <div class="row">
            800-338-2326
        </div>
      </div>
      <div id="store-hours" class="col-sm-3">
        <div id="store-hours-status" class="row text-center"><!-- propagated by store-hours.js --></div>
        <div id="store-hours-shipping" class="row text-center"><!-- propagated by store-hours.js --></div>
    </div>
</div>


<div class="row">
    <nav class="navbar">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for page in pages if page.title %}
                    <li class="nav-item{% if page.id == current_page.id %} active{% endif %}">
                        <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div><!-- /input-group-btn -->
                </div><!-- /input-group -->
            </form>
        </div><!-- /navbar-collapse -->
    </nav>
</div>


<div class="row content">
<!-- TODO: replace with /{/{ content /}/} -->

    <div class="col-sm-8">
        <div id="action-shots-carousel" class="carousel slide col-centered" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="content/images/action-shots/0.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" src="content/images/action-shots/1.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" src="content/images/action-shots/2.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" src="content/images/action-shots/3.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" src="content/images/action-shots/4.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" src="content/images/action-shots/5.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 box">
        <h1>Welcome</h1>
        <div class="box-body">
            <p>
                ATV Parts Connection specializes in aftermarket parts for ATVs, UTVs, and automotives. We're located in Jessup, Maryland and have been in the ATV/ UTV industry for over 20 years.
            </p>
            <p>
                By using our experience and extensive knowledge of the field, we're able to design, improve, import, and stock parts that meet or exceed OEM specifications at much lower costs than directly from the dealer.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 box">
        <h1>We Carry Parts For</h1>

        <div id="vendor-carousel" class="box-body carousel slide text-center" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" alt="Arctic Cat Logo" title="Arctic Cat ATV & UTV Parts" src="content/images/slider/vendors/arctic-cat.jpg">
                    <img class="img-responsive" alt="Bombardier Recreational Products Logo" title="BRP ATV Parts" src="content/images/slider/vendors/brp.jpg">
                    <img class="img-responsive" alt="Can-Am Logo" title="Can-Am ATV & UTV Parts" src="content/images/slider/vendors/can-am.jpg">
                    <img class="img-responsive" alt="Daihatsu Motor Company Logo" title="Daihatsu Mini Truck Driveline Parts" src="content/images/slider/vendors/daihatsu.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" alt="Honda Logo" title="Honda ATV, UTV, and Auto Driveline Parts" src="content/images/slider/vendors/honda.jpg">
                    <img class="img-responsive" alt="Kawasaki Logo" title="Kawasaki ATV & UTV Parts" src="content/images/slider/vendors/kawasaki.jpg">
                    <img class="img-responsive" alt="Kubota Logo" title="Kubota UTV Parts" src="content/images/slider/vendors/kubota.jpg">
                    <img class="img-responsive" alt="Kymco Logo" title="Kymco ATV Electrical Parts" src="content/images/slider/vendors/kymco.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" alt="Mitsubishi Logo" title="Mitsubishi Auto Driveline Parts" src="content/images/slider/vendors/mitsubishi.jpg">
                    <img class="img-responsive" alt="Polaris Logo" title="Polaris ATV Parts" src="content/images/slider/vendors/polaris.jpg">
                    <img class="img-responsive" alt="Suzuki Logo" title="Suzuki ATV & Auto Driveline Parts"  src="content/images/slider/vendors/suzuki.jpg">
                    <img class="img-responsive" alt="Yamaha Logo" title="Yamaha ATV Parts" src="content/images/slider/vendors/yamaha.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 box">
        <h1>Products We Sell</h1>

        <div id="product-carousel" class="box-body carousel slide text-center" data-ride="carousel" data-type="right">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" alt="Arrowhead Electrical Logo" title="Arrowhead Electrical Products" src="content/images/slider/products/arrowhead.jpg">
                    <img class="img-responsive" alt="Kali Protectives Logo" title="Kali Protectives" src="content/images/slider/products/kali.jpg">
                    <img class="img-responsive" alt="Apparel" title="Apparel" src="content/images/slider/products/apparel.jpg">
                    <img class="img-responsive" alt="Drive Belts" title="Drive Belts" src="content/images/slider/products/drive-belts.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" alt="Gates Logo" title="Gates Drivebelts" src="content/images/slider/products/gates.jpg">
                    <img class="img-responsive" alt="Driveline" title="Driveline" src="content/images/slider/products/driveline.jpg">
                    <img class="img-responsive" alt="Electrical Units" title="Electrical Units" src="content/images/slider/products/electrical-units.jpg">
                    <img class="img-responsive" alt="Suspension" title="Suspension" src="content/images/slider/products/suspension.jpg">
                </div>
                <div class="item">
                    <img class="img-responsive" alt="Tools" title="Tools" src="content/images/slider/products/tools.jpg">
                    <img class="img-responsive" alt="Monster Performance Parts Logo" title="Monster Axles" src="content/images/slider/products/monster-parts.jpg">
                    <!-- DUPLICATES -->
                    <img class="img-responsive" alt="Arrowhead Electrical Logo" title="Arrowhead Electrical Products" src="content/images/slider/products/arrowhead.jpg">
                    <img class="img-responsive" alt="Kali Protectives Logo" title="Kali Protectives" src="content/images/slider/products/kali.jpg">
                </div>
            </div><!-- /carousel-inner -->
        </div><!-- /product-carousel -->
    </div><!-- /col-md-6 -->
</div><!-- /row -->

<div class="row footer">
    <div class="col-sm-3">
        <h1>Address</h1>
        ATV Parts Connection<br>
        10555 Guilford Road<br>
        Suite 113<br>
        Jessup, MD 20794
    </div>
    <div class="col-sm-3">
        <h1>Hours</h1>
        <ul>
            <li>Monday - Friday: 8am - 6pm
            <li>Saturday: 9am - 3pm
            <li>Sunday: Closed
        </ul>
    </div>
    <div class="col-sm-3">
        <h1>Contact</h1>
        <ul>
            <li>Toll-Free: 800-338-2326
            <li>Local: 301-498-4326
            <li><a href="mailto:sales@atvpartsconnection.com">sales@atvpartsconnection.com</a>
        </ul>
    </div>
    <div class="col-sm-3">
        <h1>Testimonials</h1>
        <div id="testimonials"><!-- Populated by JS --></div>
    </div>
<!-- END TODO: replace with /{/{ content /}/} -->
</div>

<div class="row footer-bar">
    <div class="col-sm-9">
        Copyright © 2007&ndash;{{ "now"|date('Y') }} <a href="mailto:sales@atvpartsconnection.com">CV Restoration, LLC</a>. All Rights Reserved.
    </div>
    <div class="col-sm-3">
        <ul class="social pull-right">
            <li><a href="//www.facebook.com/pages/ATV-Parts-Connection/227990890564556" title="Visit our Facebook page"><i class="fa fa-facebook"></i></a>
            <li><a href="//google.com/+Atvpc" title="Visit our Google+ page" rel="publisher"><i class="fa fa-google-plus"></i></a>
            <li><a href="//twitter.com/atvpartsconnect" title="Visit our Twitter profile"><i class="fa fa-twitter"></i></a>
            <li><a href="//www.amazon.com/gp/aag/main?seller=A1YR0DBBU4DM4B" title="Visit our Amazon storefront"><i class="fa fa-amazon"></i></a>
            <li><a href="//stores.ebay.com/ATV-Parts-Connection" title="Visit our eBay store"><i class="fa fa-shopping-cart"></i></a>
        </ul>
    </div>
</div>

<div class="row text-center fineprint">
    <p>
        ATV Parts Connection, Monster Performance Parts, the Monster Axle logo, and ATV Parts Connection graphics are the servicemarks, trademarks, or registered trademarks owned by ATV Parts Connection.<br>
        All other servicemarks and trademarks are the property of their respective owner.
    </p>

    <!-- TODO: add privacy policy and tos links-->
</div>

</div><!-- /container -->

<script src="{{ theme_url }}/js/jquery.min.js"></script>
<script src="{{ theme_url }}/js/bootstrap.min.js"></script>
<script src="{{ theme_url }}/js/multi-item-carousel.js"></script>
<script src="{{ theme_url }}/js/moment.min.js"></script>
<script src="{{ theme_url }}/js/moment-timezone-with-data.min.js"></script>
<script src="{{ theme_url }}/js/store-hours.js"></script>
<script src="{{ theme_url }}/js/testimonials.js"></script>
</body>
</html>
