<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="publisher" href="https://plus.google.com/b/103602236030149683509">
    <link type="text/plain" rel="author" href="/humans.txt">
    <link rel="shortcut icon" href="favicon.ico">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/font-awesome.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/style.css">
</head>

<body>
<div class="container">

<header class="row">
    <div class="col-sm-3">
        <a href="/"><img id="logo" src="{{ theme_url }}/img/logo.png" alt="ATV Parts Connection Logo"></a>
    </div>
    <div class="col-sm-6 text-center info">
        <div class="row tagline">
            America's Connection for ATV Parts
        </div>
        <div class="row hours">
            Monday&ndash;Friday: 8am&ndash;6pm &amp; Saturday: 9am&ndash;3pm EST
        </div>
        <div class="row phone">
            800-338-2326
        </div>
      </div>
      <div id="store-hours" class="col-sm-3">
        <div id="store-hours-status" class="row text-center"><!-- propagated by store-hours.js --></div>
        <div id="store-hours-shipping" class="row text-center"><!-- propagated by store-hours.js --></div>
    </div>
</header>

<div class="row">
    <nav class="navbar">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for page in pages if page.title %}
                    <li class="nav-item{% if page.id == current_page.id %} active{% endif %}">
                        <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div><!-- /input-group-btn -->
                </div><!-- /input-group -->
            </form>
        </div><!-- /navbar-collapse -->
    </nav>
</div>

{% if is_front_page %}
    {{ content }}
{% else %}
    <div class="row content">
        <div class="col-sm-12">
            {% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
            {{ content }}
        </div>
    </div>
{% endif %}

<div class="row footer-bar">
    <div class="col-sm-9">
        Copyright © 2007&ndash;{{ "now"|date('Y') }} <a href="mailto:sales@atvpartsconnection.com">CV Restoration, LLC</a>. All Rights Reserved.
    </div>
    <div class="col-sm-3">
        <ul class="social pull-right">
            <li><a href="//www.facebook.com/pages/ATV-Parts-Connection/227990890564556" title="Visit our Facebook page"><i class="fa fa-facebook"></i></a>
            <li><a href="//google.com/+Atvpc" title="Visit our Google+ page" rel="publisher"><i class="fa fa-google-plus"></i></a>
            <li><a href="//twitter.com/atvpartsconnect" title="Visit our Twitter profile"><i class="fa fa-twitter"></i></a>
            <li><a href="//www.amazon.com/gp/aag/main?seller=A1YR0DBBU4DM4B" title="Visit our Amazon storefront"><i class="fa fa-amazon"></i></a>
            <li><a href="//stores.ebay.com/ATV-Parts-Connection" title="Visit our eBay store"><i class="fa fa-shopping-cart"></i></a>
        </ul>
    </div>
</div>

<div class="row text-center fineprint">
    <p>
        ATV Parts Connection, Monster Performance Parts, the Monster Axle logo, and ATV Parts Connection graphics are the servicemarks, trademarks, or registered trademarks owned by ATV Parts Connection.<br>
        All other servicemarks and trademarks are the property of their respective owner.
    </p>

    <!-- TODO: add privacy policy and tos links-->
</div>

<div class="row text-center awareness">
    <a href="http://stepsfordoug.org"><img src="content/img/steps4doug.jpg" title="ATV Parts Connection supports Steps 4 Doug and general awareness for ALS"></a>
</div>

</div><!-- /container -->

<script src="{{ theme_url }}/js/jquery.min.js"></script>
<script src="{{ theme_url }}/js/bootstrap.min.js"></script>
<script src="{{ theme_url }}/js/multi-item-carousel.js"></script>
<script src="{{ theme_url }}/js/moment.min.js"></script>
<script src="{{ theme_url }}/js/moment-timezone-with-data.min.js"></script>
<script src="{{ theme_url }}/js/store-hours.js"></script>
<script src="{{ theme_url }}/js/testimonials.js"></script>
</body>
</html>
